---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
{%- set posts = collections.posts | reverse %}
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-AU">
  <title>{{ site.name }} blog</title>
  <subtitle>Notes from Xerodonia on building apps for Apple platforms and putting AI coding agents to work.</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/blog/" rel="alternate" type="text/html"/>
  <id>{{ site.url }}/blog/</id>
  <updated>{{ (posts[0].date if posts.length else site.buildTime) | isoDateTime }}</updated>
  <author><name>{{ site.legalName }}</name><email>{{ site.email }}</email></author>
  {%- for post in posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}" rel="alternate" type="text/html"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.date | isoDateTime }}</published>
    <updated>{{ post.date | isoDateTime }}</updated>
    <summary>{{ post.data.description }}</summary>
    <content type="html">{{ post.content | absoluteUrls(site.url) }}</content>
  </entry>
  {%- endfor %}
</feed>
